h3 {
  color: #02b9fd;
}

.books {
  width: 75%;
  position: relative;
}

.loginForm {
  position: relative;
}

.loginRow {
  padding: 5% 25%;
}

a:link {
  color: darkblue;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: darkblue;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}